<span>
  <% if list.list_type == 'read' %>
    <em><%= 'В списке прочитанного' %></em>
  <% else %>
    <em><%= 'В списке желаемого' %></em>
  <% end %>
  <%= link_to 'Отмена', book_list_path(list.book, list), method: :delete, class: 'btn btn-danger btn-xs' %>
</span>