<div class="buffer-bottom">
  <p class="norm-width"><%= comment.body %></p>
  <p>
    <span>
      <em><strong><%= comment.user.login %></strong></em>
    </span>
    <em><%= l comment.created_at, format: :short %></em>

  </p>
</div>

