<div class="text-center">
  <h1><%= @user.login %></h1>

  <% if @user == current_user %>
      <p class="buffer-top">
        <%= link_to 'Редактировать профиль', edit_user_path(@user), class: 'btn btn-default' %>
      </p>
  <% end %>

  <div class="row">
    <div class="col-lg-6 buffer-top">
      <h4>Желаемое</h4>
      <% @user.lists.each do |list| %>
          <% if list.list_type == 'want' %>
              <div class="buffer-top">
                <%= render partial: 'books/book', object: list.book %>
              </div>
          <% end %>
      <% end %>
    </div>

    <div class="col-lg-6 buffer-top">
      <h4>Прочитано</h4>
      <% @user.lists.each do |list| %>
          <% if list.list_type == 'read' %>
              <div class="buffer-top">
                <%= render partial: 'books/book', object: list.book %>
              </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>


