<!-- Паршиал отображения инфы об отдельной книге -->
<div class="my-fixed-thumb">
  <div class="caption">
    <h3 class="cut-text"><%= link_to book.title, book_path(book) %></h3>
    <p><em><%= book.book_authors %></em></p>
    <p> <%= image_tag book.image.thumb %> </p>
  </div>
</div>
