<!-- Паршиал отображения инфы об отдельной книге -->
<div class="col-sm-6 col-md-4">
  <div class="thumbnail">

    <div class="caption">
      <h3><%= link_to book.title, book_path(book) %></h3>
      <p> <%= image_tag book.image.thumb %> </p>

      </div>
    </div>
  </div>
</div>