<h1>Книги</h1>

<div class="buffer-bottom">
  <%= link_to 'Выложить книгу', new_book_path, class: 'btn btn-success' %>
</div>

<div class="row buffer-bottom">
  <!-- Рендерю массив всех книг из паршела books/book -->
  <%= render partial: 'books/book', collection: @books %>
</div>
